{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome!
{% endblock %}

{% block content %}
    <h2>Compliance Command Center INX Alcholizer Report</h2>
    <div style="display: flex; width: 100%;">
        <div style="flex: 0 0 auto; min-width: 500px; padding-right: 40px;">
            <p>Manually matching INX and Alcoholizer data is a massive time-sink. 😫</p>
            <p>Reclaim your day with 3 simple steps:</p>
            <ol>
                <li>Upload your INX and Alcoholizer reports</li>
                <li>Generate a comprehensive report instantly</li>
                <li>Understand your compliance status with a clear summary</li>
            </ol>
            <p>Go from data to done in under 60 seconds.</p>
            <p>👉 Get Your Instant Compliance Report!</p>
            <br>
            {% if request.user.is_authenticated %}
                <p>You are logged in as {{ request.user.username }} 👍</p>
            {% else %}
                <p>Please log in to continue. ↗️</p>
            {% endif %}
            <br>
            <br>
            <img src="{% static 'img/main_schema.png' %}" width="500" height="400" alt="Schema illustration"
            style="box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); border-radius: 8px;">
        </div>
        <div style="flex: 1; padding: 20px;">
        </div>
    </div>
{% endblock %}

