{% extends 'base.html' %}
{% block content %}

    <h1>{% block title %}Upload XLS Files: {% endblock %}</h1>

    {% for message in messages %}
        <p style="color: red;">{{ message | safe }}</p>
    {% endfor %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="custom-file-upload" for="id_breath_list">{{ form.breath_list.label }}</label><br>
        {{ form.breath_list }}<br>
        {% for error in form.breath_list.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
        <br>
        <label class="custom-file-upload" for="id_evac_list">{{ form.evac_list.label }}</label><br>
        {{ form.evac_list }}<br>
        {% for error in form.evac_list.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
        <br>
        <div class="button-in-row">
            <button type="submit">UPLOAD</button>
            <a href="{% url 'staff_status' %}" class="button shadow">PROCEED EXISTING DATA</a>
        </div>
    </form>
<!--    <p>OR</p>-->
    <br>

{% endblock %}
