:root {
  /*--theme-color: #F3BC00; /* Задаем пользовательскую переменную с цветом ссылки ЖЕЛТЫЙ */
  --theme-color: #007bff; /* main theme color BLUE */
  --theme-dark-color: #00428a; /* main theme color BLUE */
  --menu-text-color: #808080; /* text DARK GREY */
  --menu-back: #EAEAEA; /* text DARK GREY */
  --font-choice: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Arial, Tahoma, sans-serif; */
}

.content {
    margin-left: 270px; /* Ширина левой панели */
    margin-top: 70px; /* Выравнивание с верхним пространством */
    padding: 0px;
}

.sidenav {
    height: 100%;
    width: 250px; /* Ширина боковой панели */
    position: fixed;
    top: 40px;
    left: 0;
    background-color: #FFFFFF;
    color: var(--menu-text-color);
    padding-top: 0px;
    border-right: 1px solid #ced4da; /* Видимая граница контейнера справа */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Тень */
    line-height: 1.4;
}

.sidenav a {
    padding: 8px 16px 8px 16px;
    /* font-family: Verdana, Tahoma, sans-serif; */
    font-family: var(--font-choice);
    text-decoration: none;
    font-size: 17px;
    /*background-color: #e9ecef;*/
    color: #808080;
    display: block;
    margin: 0px 8px;
    margin-bottom: 3px;
    border-radius: 4px;
}

.sidenav a:hover {
    /* color: #EAEAEA; */
    transition-duration: 0.3s;
    background-color: var(--menu-back); /* #EAEAEA; /*#C7C7C7; /* active button grey */
    color: #000000;
}

.sidenav a.active {
    background-color: var(--theme-color);
    color: #FFFFFF;
}

.menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Выравнивание по вертикали */
    border-bottom: 1px outset white;/* #C7C7C7; /* Видимая граница контейнера снизу */
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1000; /* убедитесь, что z-index больше, чем у других элементов на странице */
    background-color: #ffffff; /* задайте цвет фона по вашему усмотрению */
}

.menu img {
    margin-top: -5px;
    margin-bottom: -10px;
    margin-left: 5px;
    margin-right: 5px;
}

.menu a {
    text-decoration: none;
    color: var(--menu-text-color);
}

/*
.menu nav {
    position: fixed;
    display: flex;
    align-items: center; /* Выравнивание по вертикали
}
*/

.logo-container {
    margin-right: 100px; /* Отступ справа от логотипа */
}

.button-container {
    /* margin-left: auto; /* Перемещение контейнера кнопки Logout вправо */
    display: inline-block;
    /* margin-left: 30px; */
    width: 100px;
    text-align: right;
}

.auth-container {
    font-size: 12px;
    margin-left: auto; /* Перемещение контейнера вправо */
    /* margin-right: 100px; */
}


#clock {
    font-size: 24px;
    width: 100px; /* Ширина контейнера 111*/
    text-align: right;
    /*height: 30px; /* Высота контейнера */
    margin-left: 30px; /* Перемещение контейнера кнопки Logout вправо */
    margin-right: 30px;
}

/*nav a {
    color: #707B7C;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2em;
    margin-left: 10px;
    margin-right: 30px;
    text-shadow: 2px 2px 2px #000000;
    text-decoration: none;
}
nav a:hover {
    color: #FF8F00;
}
nav img {
    margin-top: -10px;
    margin-bottom: -50px;
    margin-left: -10px;
}*/
body {
    background: rgba(255, 255, 255, .8);
    color: #1B2631;
    font-size: 1em;
    border-radius: 5px;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

html {
/*    background-image: url('../img/bird_view.jpg'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: var(--font-choice); /*Arial, Tahoma, sans-serif;*/
}

table, th, td {
    background: rgba(245, 245, 245, .5);
/*    color: #000000;  */
    font-family: var(--font-choice);
    border:1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

button, .button, .btn {
    border-radius: 5px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: var(--theme-dark-color);
    color: white;
    border: 1px solid var(--theme-dark-color);
}

button:hover, .button:hover, .btn:hover{
    background-color: var(--theme-color);
    color: white;
    border: 1px solid var(--theme-color);
}

.shadow {
    background-color: white;
    color: gray;
    border: 1px solid var(--menu-back);
}

.shadow:hover {
    background-color: var(--menu-back);
    color: black;
    border: 1px solid black;
}

.button-in-row {
    display: flex;
    align-items: center;
}

.button-in-row > * {
    margin-right: 10px;
}

.flash_msg {
    color: #CF0000;
    font-size: 1.1em;
}

.hl_1 {
    color: #909497;
    font-weight: bold;
}
.hl_2 {
    color: #1ABC9C;
    font-weight: bold;
}
.hl_3 {
    color: #F1C40F;
    font-weight: bold;
}
.hl_4 {
    color: #E67E22;
    font-weight: bold;
}
.hl_5 {
    color: #C0392B;
    font-weight: bold;
}
/* FOR WORKERS LIST */
.row_font_table {
    font-size: 13px; /* 1111111 Adjust as needed */
}
.row_font_title {
    font-size: 13px;
    font-weight: bold;
}
.breath_column_min {
    width: 20px;
}
.breath_column_mid {
    width: 160px;
}
.file_upload {
    width: 500px;
    height: 30px;
    border-radius: 10px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 1px solid grey;
/*    background-color: white;
    border: 2px solid #FF8F00; */
}
/*
canvas#myChart {
    width: 200px;
    height: 200px;
}
*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
    padding: 20px;
}